{% trans_default_domain 'FOSUserBundle' %}

<p class="login-box-msg">{{ "title.recover_password"|trans({},"messages") }}</p>

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
{{ form_errors(form) }}
<div class="input-group mb-3">
    {{ form_widget(form.plainPassword.first,{ "attr": {"class":"form-control","placeholder": ("placeholder.password"|trans({},"messages")) } }) }}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-lock"></span>
        </div>
    </div>
    {{ form_errors(form.plainPassword.first) }}
</div>
<div class="input-group mb-3">
    {{ form_widget(form.plainPassword.second,{ "attr": {"class":"form-control","placeholder": ("placeholder.confirm_password"|trans({},"messages")) } }) }}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-lock"></span>
        </div>
    </div>
    {{ form_errors(form.plainPassword.second) }}
</div>
<div class="row">
    <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">{{ 'resetting.reset.submit'|trans }}</button>
    </div>
</div>
{{ form_widget(form) }}
{{ form_end(form) }}
