{% extends "TecnocreacionesToolsBundle:Tabs:show.html.twig" %}

{% import '@SFAdminLTE3/default/show_fields.html.twig' as fields %}
{% import '@SFAdminLTE3/default/ui_elements.html.twig' as ui_elements %}

{% block tab_body %}
    <div class="form-horizontal">
        {{ fields.datetime(entity.createdAt,{
                            label: "Created at"
                        }) }}
        {{ fields.string(entity.createdFromIp,{
                            label: "Created from ip"
                        }) }}
        {{ fields.datetime(entity.updatedAt,{
                            label: "Updated at"
                        }) }}
        {{ fields.string(entity.updatedFromIp,{
                            label: "Updated from ip"
                        }) }}
    </div>
    <table class="table table-hover text-nowrap datagrid">
        <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th{% if histories.isSorted('e.user') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(histories, 'User'|trans, 'e.user') }}
                </th>
                <th{% if histories.isSorted('e.description') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(histories, 'Description'|trans, 'e.description') }}
                </th>
                <th{% if histories.isSorted(['e.createdAt']) %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(histories, "Created at"|trans, ['e.createdAt']) }}
                </th>
            </tr>
        </thead>
        <tbody>
            {# table body #}
            {% for history in histories %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ history.user }}</td>
                    <td>{{ history.description|raw }}
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="top" title="{{ history.userAgent }}">{{ history.createdAt | my_date_time }}</span><br/>
                        <b>({{ history.createdFromIp }})</b>
                    </td>
                </tr>
            {% else %}
                {{ ui_elements.empty_table_rows(3,"table.empty.tab.histories") }}
            {% endfor %}
        </tbody>
    </table>        
    <div class="navigation text-right">
        {{ knp_pagination_render(histories) }}
    </div>
{% endblock %}

{% block tab_buttons %}

{% endblock %}