{% extends "@SFAdminLTE3/default/base_macros.html.twig" %}

{% macro flashes() %}
    {% if app.request.hasPreviousSession %}
        {% from '@SFAdminLTE3/default/macros.html.twig' import alert as alert %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                {{ alert(message,{ type: type }) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro flashes %}

{# Genera una alerta html #}
{% macro alert(content,params) %}
    {% set defaults = { dismissible: true,title: ('title.alert'|trans), type: 'success' } %}
    {% set options = defaults|resolve_options(params,{ allowedValues: { type: ['success','danger','warning','info'] } }) %}
    {% set icons = { danger: 'icon fas fa-ban', success: 'icon fas fa-check',warning: 'icon fas fa-exclamation-triangle',info: 'icon fas fa-info'  } %}

    <div class='alert alert-{{ options.type }} alert-dismissible'>
        {% if options.dismissible %}
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
        {% endif %}
        <h5><i class='{{ icons[options.type] }}'></i> {{ options.title }} </h5>
        {{ content }}
    </div>
{% endmacro alert %}

{% macro tooltip(params) %}
    {% set defaults = { "data-html": false,"data-toggle": "tooltip", "data-placement": 'top' } %}
{% endmacro tooltip %}

{# Construye una barra de progreso #}
{% macro progress_bar(params) %}
    {% set defaults = { size: null,type:"primary",class: "progress-bar-striped active",value_min:0,value_max:100,now:0,of:0 } %}
    {% set options = defaults|resolve_options(params,{ allowedValues: { size: [null,'sm','xs','xxs'],type:["primary","success","warning","danger"] } }) %}
    
    {% set class = ["progress",options.class] %}
    {% if options.size %}
        {% set class = class|merge(["progress-"~options.size]) %}
    {% endif %}
    {% set attr = {class: class|join(' ') } %}
    <div {{ block('attributes') }}>
        {% set class = ["progress-bar","progress-bar-striped","bg-"~options.type] %}
        {% set attr = {class: class|join(' '),role:"progressbar" } %}
        
        {% set value_now = options.now %}
        {% if options.of > 0 %}
            {% set value_now = (options.now / options.of) * 100%}
        {% endif %}
        
        {% set tooltip = {title: value_now~"%"}|resolve_tooltip %}
        {% set attr = attr|merge(tooltip) %}
        
        <div {{ block('attributes') }}
             aria-valuemin="{{ options.value_min }}" aria-valuemax="{{ options.value_max }}" 
             style="width: {{ value_now }}%"
             aria-valuenow="{{ value_now }}">
            <span class="sr-only">{{ value_now }}%</span>
        </div>
    </div>
{% endmacro progress_bar %}

{% macro loading_container() %}
    {#{% apply spaceless %}#}<div class='l-loading-container'>{{ 'Loading content'|trans }}<div class='loading'><p class='blocktext'>
                <span class='ellipsis_animated-inner'>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </span></p></div></div>{#{% endapply %}#}
{% endmacro loading_container %}