<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ app_name }} | {% block title '' %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {#<!-- Font Awesome -->
                <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">#}
        {#<!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" 
              integrity="sha384-4r9SMzlCiUSd92w9v1wROFY7DlBc5sDYaEBhcCJR7Pm2nuzIIGKVRtYWlf6w+GG4" crossorigin="anonymous">#}
        <!-- overlayScrollbars -->
        {#        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">#}
        {{ encore_entry_link_tags('dependencies') }}
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets '' %}

            <!-- Google Font: Source Sans Pro -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
        </head>
        {% block body_root %}
            <body class="hold-transition sidebar-mini">
                <!-- Site wrapper -->
                <div class="wrapper">
                    <!-- Navbar -->
                    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                        {#                        <!-- Left navbar links -->#}
                        {{ knp_menu_render('top',{template: "@SFAdminLTE3/menu/top.html.twig"}) }}

                        {% if template_lte_manager.getOption("search_route") is not null %}
                            <!-- SEARCH FORM -->
                            <form class="form-inline ml-3">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-navbar" type="search" placeholder="{{ "Search"|trans }}" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}

{#                        <!-- Right navbar links -->#}
                        {% include template_lte_manager.getOption("right_navbar") %}
                    </nav>
                    <!-- /.navbar -->

                    <!-- Main Sidebar Container -->
                    <aside class="main-sidebar sidebar-dark-primary elevation-4">
                        <!-- Brand Logo -->
                        <a href="{{ path(template_lte_manager.getOption("route_main")) }}" class="brand-link">
                            <img src="{{ asset(template_lte_manager.getOption("logo")) }}"
                                 alt="{{ app_name }}"
                                 class="brand-image img-circle elevation-3">
                            <span class="brand-text font-weight-light">{{ app_name }}</span>
                        </a>

                        <!-- Sidebar -->
                        <div class="sidebar">
{#                            <!-- Sidebar user (optional) -->#}
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div class="image">
                                    {% set urlProfile = asset(template_lte_manager.getOption("default_avatar")) %}
                                    {% if app.user %}
                                        {% set urlProfile = generate_image_url(app.user,template_lte_manager.getOption("user_profile_photo_property"),{ "default":urlProfile  } ) %}
                                    {% endif %}
                                    <img src="{{ urlProfile }}" class="img-circle elevation-2" alt="{{ app.user }}">
                                </div>
                                <div class="info">
                                    <a href="#" class="d-block">{{ app.user }}</a>
                                </div>
                            </div>

                            {#                            <!-- Sidebar Menu -->#}
                            <nav class="mt-2">
                                {{ knp_menu_render('main',{template: "@SFAdminLTE3/menu/menu.html.twig"}) }}
                                {#                            <!-- /.sidebar-menu -->#}
                        </div>
                        <!-- /.sidebar -->
                    </aside>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    {% block breadcrumb %}
                                        <div class="col-sm-6">
                                            <h1>Blank Page</h1>
                                        </div>
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active">Blank Page</li>
                                            </ol>
                                        </div>
                                    {% endblock breadcrumb %}
                                </div>
                                {% from '@SFAdminLTE3/default/ui_elements.html.twig' import flashes as flashes %}
                                {{ flashes() }}
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            {% block body %}
                                <!-- Default box -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Title</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                <i class="fas fa-minus"></i></button>
                                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                                <i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        Start creating your amazing application!
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        Footer
                                    </div>
                                    <!-- /.card-footer-->
                                </div>
                                <!-- /.card -->
                            {% endblock body %}
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->

                    <footer class="main-footer">
                        <div class="float-right d-none d-sm-block">
                            <b>Version</b> {{ template_lte_manager.getOption("footer_version") }}
                        </div>
                            <strong>Copyright &copy; {{ template_lte_manager.getOption("footer_year") }} <a href="{{ template_lte_manager.getOption("footer_href") }}" target="_blank">{{ template_lte_manager.getOption("footer_name") }}</a>.</strong> {{ "all_rights_reserved"|trans }}
                    </footer>

                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
                </div>
                <!-- ./wrapper -->

                {{ encore_entry_script_tags('dependencies') }}
                {% if template_lte_manager.getOption("route_runtime_js") is not null %}
                    <script src="{{ path(template_lte_manager.getOption("route_runtime_js")) }}"></script>
                {% endif %}
                {{ encore_entry_script_tags('app') }}
                {% block javascripts '' %}
                    <!-- jQuery -->
                    {#        <script src="../../plugins/jquery/jquery.min.js"></script>#}
                    <!-- Bootstrap 4 -->
                    {#        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>#}
                    <!-- AdminLTE App -->
                    {#        <script src="../../dist/js/adminlte.min.js"></script>#}
                    <!-- AdminLTE for demo purposes -->
                    {#        <script src="../../dist/js/demo.js"></script>#}
                </body>
            {% endblock body_root %}
        </html>
